<h1>Ask the question</h1>

<form action="/answer" method="get" class="form-inline">
  <input type="text" name="question" class="form-control">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
